/* UNIVERSAL */
body{
    background: #E0DFD3;
    margin: 0;
    padding 0;
}

/* GRID (SPINE) */
.grid_spines{
    display: grid;
    grid-template-columns: 1fr 70px 70px;
}
.spine_2{
    grid-template-columns: 70px 1fr 70px;
    background: #D4D4D4;
}
.spine_3{
    grid-template-columns: 70px 70px 1fr;
    background: white;
}
.grid_spines_element{
    width: 100%;
}
.gray{
    background: #D4D4D4;
}
.white{
    background: white;
}
.beige{
    background: #E0DFD3;
}
.spine_title{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-family: Pixtur;
    font-size: 36px;
    margin-left: 12px;
    margin-top: 20px;
    position: sticky;
    top: 20px;
    transition: all 0.2s;
}
/* GRID (Layout) */
.content_grid_1{
    grid-row: 2/3;
}
.content_grid_2{
    grid-row: 3/4;
}
.content_grid_3{
    grid-row: 4/5;
}
.content_grid_4{
    grid-row: 5/6;
}
.content_grid_5{
    grid-row: 6/7;
}
.image_grid_1{
    grid-row: 2/5;
    grid-column: 2/3;
}
.image_grid_2{
    grid-row: 4/6;
    grid-column: 2/3;
}
.image_grid_3{
    grid-row: 6/7;
    grid-column: 2/3;
}
/* GRID (CONTENT) */
.grid_content{
    display: grid;
    column-gap: 80px;
    grid-template-columns: 1.8fr 1fr;
    padding: 40px 40px 0 40px;
    margin: auto;
    max-width: 1000px;
}
p{
    font-size: 19px;
    line-height: 180%;
    color:#494949;
    margin-bottom: 20px;
}
.image{
    width: 100%;
    margin-top: 30px;
}
.caption{
    font-family: Roslindale;
    font-size: 30px;
    line-height: 150%;
    margin-top: 15px;
}

.content_text{
    font-family: RoslindaleText;
}
.header{
    font-family: Roslindale;
    font-size: 70px;
    font-weight: 100;
    margin: 0;
    color: black;
    grid-column: 1/3;
    margin-bottom: 40px;
}
.pixtur{
    font-family: Pixtur;
    font-weight: normal;
}
.pullquote{
    font-size: 45px;
    font-family: Marian;
    line-height: 160%;
    /* padding-left: 150px; */
    margin: 5px 0 30px 0;
}
a{
    font-family: Pixtur;
    font-size: 30px;
    line-height: 150%;
    color: #3b3b3b;
    text-decoration: none;
}

.bottom-navigation{
    margin-bottom: 30px;
    margin-top: 60px;
}
.bottom_navigation_font{
    font-size: 100px;
    color:#a8a8a8;
    margin: 10px;
}
.navigation_right{
    text-align: right;
}

/* RESPONSIVE */
@media screen and (max-width: 900px) {
    /* SPINE */
    .grid_spines{
        grid-template-columns: 1fr;
    }
    .spine_2{
        grid-template-columns: 1fr;
    }
    .spine_3{
        grid-template-columns: 1fr;
    }
    .spine_title{
        writing-mode:horizontal-tb;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .spine_grid_position_1{
        grid-row: 1/2;
    }
    .spine_grid_position_2{
        grid-row: 2/3;
    }

    /* CONTENT */
    .grid_content{
        grid-template-columns: 1fr;
        padding: 20px 20px 0 20px;
    }
    .single_column{
        grid-column: 1/2;
    }
    /* ELEMENTS */
    .header{
        font-size: 55px;
    }
    .word_break{
        word-break: break-all;
    }
    p{
        font-size: 17px;
    }
    .image_group{
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .pullquote{
        font-size: 34px;
        margin-bottom: 20px;
    }


    /* Navigation Bottom */
    .bottom-navigation_s{
        display: absolute;
        grid-row: 7/8;
        grid-column: 1/2;
    }
    .navigation_left_s{
        z-index: 100;
        width: 50px;
    }
    .navigation_right_s{
        grid-row: 7/8;
        grid-column: 1/2;
    }

    /* GRID (Layout) */
    .mobile_content_1{
        grid-row: 2/3;
    }
    .mobile_content_2{
        grid-row: 3/4;
    }
    .mobile_content_3{
        grid-row: 4/5;
    }
    .mobile_content_4{
        grid-row: 5/6;
    }
    .mobile_content_5{
        grid-row: 6/7;
    }
    .mobile_content_6{
        grid-row: 7/8;
    }
    .mobile_content_7{
        grid-row: 8/9;
    }
    .mobile_content_8{
        grid-row: 10/11;
    }
    .mobile_content_9{
        grid-row: 11/12;
    }
    
}


/* FONT IMPORTS */
@font-face {
    font-family: "Pixtur";
    src: url("assets/fonts/PixturQuads.otf");
}
@font-face {
    font-family: "Marian";
    src: url("assets/fonts/MarianTextBlack.otf");
}  
@font-face {
    font-family: "Roslindale";
    src: url("assets/fonts/RoslindaleDisplay.ttf");
}
@font-face {
    font-family: "RoslindaleText";
    src: url("assets/fonts/RoslindaleText.ttf");
}